<div id="container">
  <div id="filtros">

    <div id="buscador"><ng-template #buscadorEmpleados></ng-template></div>

    <div>
      <mat-form-field>
        <mat-label>Fecha de vigencia</mat-label>
        <input matInput [matDatepicker]="fpgldp" [formControl]="fechagenerar">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="fpgldp"></mat-datepicker-toggle>
        <mat-datepicker #fpgldp></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

 <div id="generar">
    <button (click)="generar()"  type="button" mat-raised-button color="primary">

      <span class="material-icons">
        link
      </span> Generar</button>


  </div>
</div>



