<div id="container">

  <div class="top">

  <mat-form-field id="select" >
    <mat-label>Periodos</mat-label>
    <mat-select (selectionChange)="buscarFechas($event.value)">
      <mat-option *ngFor="let periodo of periodos" [value]="periodo.idPeriodo">
        {{periodo.periodo}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field id="select" >
    <mat-label>Fechas</mat-label>
    <mat-select [disabled]="isDisabled" (selectionChange)="onSubmit($event.value)">

      <mat-option *ngFor="let fecha of fechas" [value]="fecha.IdExaPsicome" >
        {{fecha.FechaExaPsicome}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div id="spinner">
  <mat-spinner *ngIf="showSpinner"></mat-spinner>
</div>

<div class="sinResultados" *ngIf="!hayFechas && tocadoPerido">
  <div class="mensaje">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>No hay fechas para consultar en este periodo</mat-card-title>
      </mat-card-header>
      <mat-card-content>En este periodo seleccionado no hay fechas.</mat-card-content>
    </mat-card>
    <br>
  </div>
</div>

<div class="sinResultados" *ngIf="hayFechas && tocadoFecha && resultados.length<=0">
  <div class="mensaje">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>Sin resultados</mat-card-title>
      </mat-card-header>
      <mat-card-content>No hay resultados con los parámetros proporcionados para la búsqueda.</mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="hayFechas && tocadoFecha && resultados.length>0">
  <div class="exportar">
  <button (click)="exportarExcel()" type="button" mat-raised-button color="primary">

    <span class="material-icons">
    download
    </span>Exportar a Excel</button>
  </div>
  <div>
  <app-tabla-historico
   [filtro]="filtro"
          [resultados]="resultados"
          [pageSizeOptions]="pageSizeOptions"
          [displayedColumns]="displayedColumnsGrupo"
          [tamanoTabla]="tamanoTabla"
   >

   </app-tabla-historico>
  </div>
</div>



</div>
