#container{
  display: flex;
  //flex-direction: row;
  flex-direction: column;
  //flex-flow: wrap;
  //gap: 1.1rem; //es el espacio entre cada elemento
  justify-content: center; // center; //flex-start  //flex-end  //space-between   //space-around  //space-evenly
  //align-items: stretch;
  width: 100%;
  //height: 800px;
  //background-color: lightgreen;
}
